{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
    <div id="up_layer">
        <div id="up_left_layer">
            <div class="plate" id="confirmed">

            </div>
            <div class="plate" id="map">

            </div>
        </div>
        <div id="up_right_layer">
            <div id="up_right_up_layer">
                <div class="plate" id="death">

                </div>
                <div class="plate" id="recovered">

                </div>
            </div>
            <div id="up_right_bottom_layer">
                <div class="plate" id="plot">

                </div>
            </div>
        </div>
    </div>
    <div id="bottom_layer">
        <div class="plate" id="options">

        </div>
        <div class="plate" id="simulate">

        </div>
    </div>
</div>
{% endblock content %}