{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="main_layer">
    <div id="up_layer">
        <div id="up_left_layer">
            <div class="plate" id="confirmed_plate">
                <h4>Confirmed</h4>
                <h1 id="confirmed">null</h1>
            </div>
            <div class="plate" id="map">
                <h4>Map</h4>
            </div>
        </div>
        <div id="up_right_layer">
            <div id="up_right_up_layer">
                <div class="plate" id="deaths_plate">
                    <h4>Deaths</h4>
                    <h1 id="deaths">null</h1>
                </div>
                <div class="plate" id="recovered_plate">
                    <h4>Recovered</h4>
                    <h1 id="recovered">null</h1>

                </div>
            </div>
            <div id="up_right_bottom_layer">
                <div class="plate" id="plot_plate">
                    <img id="plot" src="" alt=""/>
                </div>
            </div>
        </div>
    </div>
    <div id="bottom_layer">
        <div class="plate" id="options">
            <h4>Options</h4>
        </div>
        <div class="plate" id="simulate">
            <h4>Simulate</h4>
            <button id="simulate_btn" onclick="update()">Simulate</button>
        </div>
    </div>
</div>
{% endblock content %}

