<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>COVID-19 Outbreak Simulation</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: Roboto, sans-serif;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
    <script src="{% static 'scripts/main_page.js' %}"></script>
    {% block head %}
    {% endblock %}
</head>

<body>
{% block content %}
{% endblock content %}
{% block scripts %}
{% endblock %}
</body>
</html>