body{
    background-color: #0f0f0f;
    color: white;
}

.plate{
    background-color: #191919;
    border-radius: 30px;
    border: 1px solid #e15000;
    margin: 5px;
    min-width: 150px;
    min-height: 200px;
    text-align: center;
}

#main_layer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#up_layer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#up_left_layer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#up_right_layer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#up_right_up_layer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#up_right_bottom_layer{

}

#bottom_layer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


#confirmed_plate h1{
    color: #e15000;
}

#deaths_plate h1{
    color: red;
}

#recovered_plate h1{
    color: green;
}


#map{
    min-width: 300px;
}

#plot{
    margin: 10px;
}